* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: auto;
}

body {
  background-image: url(../images/office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3% 6% 0;
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

@media (max-width: 600px) {
  .main_menu {
    padding: 0 1%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.logo_menu i {
  color: #fff;
  padding: 2% 0 0 3%;
}

.main_menu > li {
  padding: 0 3%;
}

@media (max-width: 720px) {
  .main_menu > li {
    padding: 0 1%;
  }
}

.site_menu,
.download_footer {
  text-align: center;
  padding-top: 10%;
}

.site_menu > h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  font-size: 91px;
  font-weight: lighter;
}

@media (max-width: 810px) {
  .site_menu > h1 {
    font-size: 72px;
  }
}

@media (max-width: 670px) {
  .site_menu > h1 {
    font-size: 50px;
  }
}

.site_menu > p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #bbd8ff;
  padding: 0 20% 2%;
}

@media (max-width: 1500px) {
  .site_menu > p {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 1050px) {
  .site_menu > p {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 810px) {
  .site_menu > p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .site_menu > p {
    font-size: 1px;
  }
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 40px;
  background-color: #25365d;
  cursor: pointer;
  margin-bottom: 10%;
}

button > img {
  color: #bbd8ff;
  padding-right: 15px;
}

.download_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download > h2,
.download_footer > h2 {
  color: #25365d;
  font-family: "Bebas Neue", sans-serif;
  font-size: 72px;
}

@media (max-width: 1170px) {
  .download > h2,
  .download_footer > h2 {
    font-size: 55px;
  }
}

@media (max-width: 670px) {
  .download > h2,
  .download_footer > h2 {
    font-size: 45px;
  }
}

.download_main::before {
  content: "Free resources";
  font-family: "Bebas Neue", sans-serif;
  font-size: 260.87px;
  color: #ffffff;
  top: 130%;
  left: 18%;
  position: absolute;
}

@media (max-width: 1700px) {
  .download_main::before {
    font-size: 15vw;
    top: 110%;
  }
}

@media (max-width: 1400px) {
  .download_main::before {
    top: 100%;
  }
}

@media (max-width: 1200px) {
  .download_main::before {
    top: 90%;
    left: 10%;
  }
}

@media (max-width: 1024px) {
  .download_main::before {
    top: 55%;
  }
}

@media (max-width: 810px) {
  .download_main::before {
    top: 57%;
    left: 5%;
  }
}

@media (max-width: 700px) {
  .download_main::before {
    top: 56%;
  }
}

@media (max-width: 375px) {
  .download_main::before {
    top: 53%;
  }
}

@media (max-width: 360px) {
  .download_main::before {
    top: 70%;
  }
}

@media (max-width: 320px) {
  .download_main::before {
    top: 76%;
  }
}

.macbook > img {
  width: 45%;
  z-index: 1;
  position: absolute;
  right: 5%;
  top: 142%;
}

@media (max-width: 1700px) {
  .macbook > img {
    top: 135%;
  }
}

@media (max-width: 1480px) {
  .macbook > img {
    top: 126%;
  }
}

@media (max-width: 1400px) {
  .macbook > img {
    right: 1%;
    top: 110%;
  }
}

@media (max-width: 1130px) {
  .macbook > img {
    top: 120%;
  }
}

@media (max-width: 1024px) {
  .macbook > img {
    top: 110%;
    right: 0;
  }
}

@media (max-width: 810px) {
  .macbook > img {
    top: 85%;
  }
}

@media (max-width: 700px) {
  .macbook > img {
    top: 85%;
  }
}

@media (max-width: 560px) {
  .macbook > img {
    top: 85%;
    right: 2%;
  }
}

@media (max-width: 411px) {
  .macbook > img {
    top: 83%;
  }
}

.download {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  position: relative;
  padding: 32% 0 5% 20%;
}

@media (max-width: 1200px) {
  .download {
    padding-left: 10%;
  }
}

@media (max-width: 810px) {
  .download {
    padding-left: 5%;
    font-size: 12px;
  }
}

.download > p {
  color: #5a5a5a;
  padding-top: 2%;
  line-height: 1.8;
}

.download span {
  color: #bbd8ff;
}

.macbook {
  width: 100%;
}

.load {
  padding: 5% 0;
}

.load_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
  padding: 10% 20%;
  background-color: #f2f3f4;
}

@media (max-width: 1700px) {
  .load_menu {
    padding: 10% 10%;
  }
}

@media (max-width: 1250px) {
  .load_menu {
    padding: 10% 5%;
  }
}

@media (max-width: 770px) {
  .load_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.load_menu h3 {
  font-size: 22px;
  color: #25365d;
  text-transform: uppercase;
  padding-bottom: 3%;
}

@media (max-width: 1250px) {
  .load_menu h3 {
    font-size: 16px;
  }
}

.load_menu p {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 1.8;
}

@media (max-width: 1250px) {
  .load_menu p {
    font-size: 10px;
  }
}

.load_menu img {
  float: left;
}

.loading {
  padding: 0 0 10% 23%;
}

@media (max-width: 770px) {
  .loading {
    padding-bottom: 5%;
  }
}

.features {
  font-family: "Open Sans", sans-serif;
  padding: 10% 20%;
  position: relative;
}

@media (max-width: 1700px) {
  .features {
    padding: 10% 10%;
  }
}

@media (max-width: 1250px) {
  .features {
    padding: 10% 5%;
  }
}

.features > h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 72px;
  text-align: center;
  color: #25365d;
  padding-bottom: 10%;
}

@media (max-width: 1170px) {
  .features > h2 {
    font-size: 55px;
  }
}

@media (max-width: 670px) {
  .features > h2 {
    font-size: 45px;
  }
}

.feature_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.circle > img {
  position: absolute;
  top: 57%;
  right: 48%;
}

@media (max-width: 1300px) {
  .circle > img {
    width: 4%;
  }
}

@media (max-width: 1000px) {
  .circle > img {
    width: 6%;
    right: 47%;
    top: 55.8%;
  }
}

@media (max-width: 800px) {
  .circle > img {
    width: 7%;
    right: 46.8%;
  }
}

@media (max-width: 700px) {
  .circle > img {
    right: 46%;
  }
}

@media (max-width: 550px) {
  .circle > img {
    width: 8%;
    right: 45.8%;
  }
}

@media (max-width: 430px) {
  .circle > img {
    width: 9%;
  }
}

.arrows {
  position: absolute;
  top: 59%;
  right: 49.3%;
  color: #f2f3f4;
}

@media (max-width: 1300px) {
  .arrows {
    top: 58.4%;
    right: 49%;
  }
}

@media (max-width: 1000px) {
  .arrows {
    top: 58%;
    right: 48.8%;
  }
}

@media (max-width: 700px) {
  .arrows {
    right: 47.4%;
  }
}

@media (max-width: 550px) {
  .arrows {
    top: 57.2%;
    right: 47.2%;
  }
}

.feature_image > img {
  width: 35%;
}

.features h3 {
  font-size: 22px;
  color: #25365d;
  padding-bottom: 2%;
}

@media (max-width: 1000px) {
  .features h3 {
    font-size: 12px;
  }
}

.features p {
  font-size: 14px;
  color: #5a5a5a;
  line-height: 1.8;
  padding-top: 4%;
}

@media (max-width: 1000px) {
  .features p {
    font-size: 9px;
  }
}

@media (max-width: 700px) {
  .features p {
    font-size: 8px;
  }
}

@media (max-width: 550px) {
  .features p {
    font-size: 5px;
  }
}

.feature1 {
  position: absolute;
  top: 41%;
}

.feature1 p,
.feature3 p {
  padding-right: 60%;
}

.feature2 p,
.feature4 p {
  padding-left: 60%;
}

.feature2,
.feature4 {
  right: 20%;
}

@media (max-width: 1700px) {
  .feature2,
  .feature4 {
    right: 10%;
  }
}

@media (max-width: 1250px) {
  .feature2,
  .feature4 {
    right: 5%;
  }
}

.feature2 {
  position: absolute;
  top: 40%;
  text-align: right;
}

.feature3 {
  position: absolute;
  top: 65%;
}

.feature4 {
  position: absolute;
  top: 65%;
  text-align: right;
}

.feature1 > h3,
.feature2 > h3,
.feature3 > h3,
.feature4 > h3 {
  position: relative;
}

.feature1 > .img > img,
.feature2 > .img > img,
.feature3 > .img > img,
.feature4 > .img > img {
  position: absolute;
}

@media (max-width: 1000px) {
  .feature1 .img > img:first-child {
    width: 30%;
  }
}

.feature1 .img > img:nth-child(2) {
  right: 11%;
}

@media (max-width: 1360px) {
  .feature1 .img > img:nth-child(2) {
    width: 40%;
    right: 30%;
  }
}

.feature1 .img > img:nth-child(3) {
  right: 7%;
  top: 33%;
}

@media (max-width: 1360px) {
  .feature1 .img > img:nth-child(3) {
    right: 27%;
    top: 29%;
  }
}

@media (max-width: 1000px) {
  .feature1 .img > img:nth-child(3) {
    right: 23%;
    top: 20%;
  }
}

@media (max-width: 700px) {
  .feature1 .img > img:nth-child(3) {
    top: 19%;
  }
}

@media (max-width: 550px) {
  .feature1 .img > img:nth-child(3) {
    width: 15%;
    top: 22%;
    right: 22%;
  }
}

.feature1 .img > img:last-child {
  right: 10%;
  top: 44%;
}

@media (max-width: 1360px) {
  .feature1 .img > img:last-child {
    right: 30%;
    top: 39%;
  }
}

@media (max-width: 1000px) {
  .feature1 .img > img:last-child {
    right: 28%;
    top: 37%;
  }
}

@media (max-width: 550px) {
  .feature1 .img > img:last-child {
    top: 42%;
  }
}

.feature2 .img > img:first-child {
  right: 31%;
}

@media (max-width: 1360px) {
  .feature2 .img > img:first-child {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .feature2 .img > img:first-child {
    right: 29%;
  }
}

.feature2 .img > img:nth-child(2) {
  right: 0;
}

@media (max-width: 1000px) {
  .feature2 .img > img:nth-child(2) {
    width: 30%;
  }
}

.feature2 .img > img:nth-child(3) {
  left: 9%;
  bottom: 19%;
}

@media (max-width: 1360px) {
  .feature2 .img > img:nth-child(3) {
    left: 25%;
    bottom: 28%;
  }
}

@media (max-width: 1000px) {
  .feature2 .img > img:nth-child(3) {
    bottom: 22%;
  }
}

@media (max-width: 700px) {
  .feature2 .img > img:nth-child(3) {
    bottom: 19%;
  }
}

@media (max-width: 550px) {
  .feature2 .img > img:nth-child(3) {
    width: 15%;
    bottom: 13%;
    left: 24%;
  }
}

.feature2 .img > img:last-child {
  left: 12%;
  bottom: 30%;
}

@media (max-width: 1360px) {
  .feature2 .img > img:last-child {
    left: 28%;
    bottom: 41%;
  }
}

@media (max-width: 1000px) {
  .feature2 .img > img:last-child {
    left: 30%;
  }
}

@media (max-width: 700px) {
  .feature2 .img > img:last-child {
    bottom: 39%;
  }
}

@media (max-width: 550px) {
  .feature2 .img > img:last-child {
    bottom: 33%;
  }
}

.feature3 .img > img:first-child {
  right: 8%;
  top: -20%;
}

@media (max-width: 1360px) {
  .feature3 .img > img:first-child {
    right: 25%;
    top: -10%;
  }
}

@media (max-width: 1000px) {
  .feature3 .img > img:first-child {
    top: -21%;
    right: 23%;
  }
}

@media (max-width: 550px) {
  .feature3 .img > img:first-child {
    width: 15%;
    top: -15%;
    right: 22%;
  }
}

.feature3 .img > img:nth-child(2) {
  right: 11%;
  top: -10%;
}

@media (max-width: 1360px) {
  .feature3 .img > img:nth-child(2) {
    right: 28%;
    top: 1px;
  }
}

@media (max-width: 1000px) {
  .feature3 .img > img:nth-child(2) {
    top: -3px;
  }
}

@media (max-width: 700px) {
  .feature3 .img > img:nth-child(2) {
    top: -1px;
  }
}

@media (max-width: 550px) {
  .feature3 .img > img:nth-child(2) {
    top: 3px;
  }
}

@media (max-width: 1000px) {
  .feature3 .img > img:nth-child(3) {
    width: 30%;
  }
}

.feature3 .img > img:last-child {
  right: 12%;
  top: -10px;
}

@media (max-width: 1360px) {
  .feature3 .img > img:last-child {
    width: 40%;
    right: 29%;
    top: 4px;
  }
}

@media (max-width: 1000px) {
  .feature3 .img > img:last-child {
    top: 0;
    right: 30%;
  }
}

@media (max-width: 700px) {
  .feature3 .img > img:last-child {
    top: 2px;
  }
}

@media (max-width: 550px) {
  .feature3 .img > img:last-child {
    top: 7px;
  }
}

.feature4 .img > img:first-child {
  left: 7%;
  top: 0;
}

@media (max-width: 1360px) {
  .feature4 .img > img:first-child {
    left: 25%;
    top: 6%;
  }
}

@media (max-width: 1000px) {
  .feature4 .img > img:first-child {
    top: -6%;
  }
}

@media (max-width: 550px) {
  .feature4 .img > img:first-child {
    width: 15%;
    top: -3%;
    left: 24%;
  }
}

.feature4 .img > img:nth-child(2) {
  left: 10%;
  top: 12%;
}

@media (max-width: 1360px) {
  .feature4 .img > img:nth-child(2) {
    left: 28%;
    top: 17%;
  }
}

@media (max-width: 1000px) {
  .feature4 .img > img:nth-child(2) {
    left: 30%;
    top: 13%;
  }
}

@media (max-width: 700px) {
  .feature4 .img > img:nth-child(2) {
    top: 14%;
  }
}

@media (max-width: 550px) {
  .feature4 .img > img:nth-child(2) {
    top: 19%;
  }
}

.feature4 .img > img:nth-child(3) {
  right: 31%;
  top: 14%;
}

@media (max-width: 1360px) {
  .feature4 .img > img:nth-child(3) {
    width: 40%;
    top: 19%;
  }
}

@media (max-width: 1000px) {
  .feature4 .img > img:nth-child(3) {
    top: 17%;
    right: 29%;
  }
}

@media (max-width: 700px) {
  .feature4 .img > img:nth-child(3) {
    top: 19%;
  }
}

@media (max-width: 550px) {
  .feature4 .img > img:nth-child(3) {
    top: 28%;
  }
}

.feature4 .img > img:last-child {
  right: 0;
}

@media (max-width: 1000px) {
  .feature4 .img > img:last-child {
    width: 30%;
  }
}

.plans {
  padding: 10% 20%;
  background-color: #f2f3f4;
}

@media (max-width: 1700px) {
  .plans {
    padding: 10% 10%;
  }
}

@media (max-width: 1250px) {
  .plans {
    padding: 10% 5%;
  }
}

@media (max-width: 530px) {
  .plans {
    padding: 10% 0;
  }
}

.plans > p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #5a5a5a;
  padding: 5% 0;
  line-height: 1.8;
}

@media (max-width: 810px) {
  .plans > p {
    font-size: 12px;
  }
}

@media (max-width: 530px) {
  .plans > p {
    padding: 5% 5%;
  }
}

.plans > h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 72px;
  text-align: center;
  color: #25365d;
}

@media (max-width: 1170px) {
  .plans > h2 {
    font-size: 55px;
  }
}

@media (max-width: 670px) {
  .plans > h2 {
    font-size: 45px;
  }
}

.plan_site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
}

.plan_site > div {
  width: 31%;
  background-color: #fff;
  margin-left: 2%;
  padding: 4%;
  text-align: center;
}

@media (max-width: 530px) {
  .plan_site > div {
    padding: 4% 0;
  }
}

.plan_site h3 {
  font-size: 18px;
  color: #5a5a5a;
  text-transform: uppercase;
  padding-bottom: 10%;
}

@media (max-width: 1050px) {
  .plan_site h3 {
    font-size: 16px;
  }
}

@media (max-width: 940px) {
  .plan_site h3 {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .plan_site h3 {
    font-size: 9px;
  }
}

.text > span:first-child {
  font-size: 40px;
  font-weight: bold;
  color: #25365d;
}

@media (max-width: 950px) {
  .text > span:first-child {
    font-size: 20px;
  }
}

.text > span:nth-child(2) {
  font-size: 75px;
  font-weight: bold;
  color: #25365d;
}

@media (max-width: 950px) {
  .text > span:nth-child(2) {
    font-size: 20px;
  }
}

.text > span:last-child {
  font-size: 22px;
  color: #5a5a5a;
}

@media (max-width: 940px) {
  .text > span:last-child {
    font-size: 12px;
  }
}

.plan_text {
  font-size: 18px;
  color: #5a5a5a;
  padding-top: 3%;
}

@media (max-width: 940px) {
  .plan_text {
    font-size: 12px;
  }
}

.contacts {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.contacts > img {
  padding: 6% 0 1% 0;
}

.contacts > h3 {
  font-size: 22px;
  font-weight: lighter;
  color: #25365d;
  text-transform: uppercase;
  padding-bottom: 3%;
}

.contacts > p {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 1.8;
}

@media (max-width: 810px) {
  .contacts > p {
    font-size: 12px;
  }
}

.contacts_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4%;
  color: #25365d;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 810px) {
  .contacts_phone {
    font-size: 9px;
  }
}

.contacts_phone > div {
  margin: 0 5%;
}

.download_footer > p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #5a5a5a;
  line-height: 1.8;
  padding: 3% 20% 5%;
}

@media (max-width: 810px) {
  .download_footer > p {
    font-size: 12px;
  }
}

@media (max-width: 1500px) {
  .download_footer > p {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 1050px) {
  .download_footer > p {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.download_footer > button {
  margin-bottom: 45%;
}

@media (max-width: 1170px) {
  .download_footer > h2 {
    font-size: 55px;
  }
}

@media (max-width: 670px) {
  .download_footer > h2 {
    font-size: 45px;
  }
}
/*# sourceMappingURL=style.css.map */